# Python
venv/
__pycache__/
*.pyc
*.pyo
.env
*.egg-info/

# Airflow
logs/
airflow.db
airflow.cfg
standalone_admin_password.txt

# dbt
target/
dbt_packages/
logs/

# Data files
*.csv
*.parquet
*.zip
*.gz
data/raw/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
